
@{
    ViewData["Title"] = "Movie";
}

<body>
    <h2>Movie</h2>


    <div id="myCarousel"></div>

    <div class="row" id="cont">


    </div>

    <div class="row" id="movieInput">


    </div>

</body>
@section scripts {
<script async src="~/lib/react/dist/movieAppbundle.js"></script>
}

